extends  ../_skeleton

//- Includes
include ../elements/_ui-thumb-zoe

block variables
	- var activeIndex = 7
	- var pageName = 'Gallery'


block page
	// Page Header
	include ../sections/_header-fullwidth

	section.breadcrumbs-custom.parallax-container(data-parallax-img=src = 'images/bg-image-11.jpg')
		.parallax-content
			.shell
				h2.breadcrumbs-custom__title Gallery

				ul.breadcrumbs-custom__path
					li: a(href='index.html') Home
					li: a(href='#') Elements
					li.active Gallery

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Fullwidth grid album gallery

	// Social Responsibility & Eco Standards
	section.section.section-sm.bg-white.novi-background.bg-cover
		.shell
			// Section Header
			.section__header.section__header_wide
				h4 Our projects
				.isotope-filters.isotope-filters-horizontal
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.isotope-filters-list#isotope-filters
						li
							a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='gallery', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='gallery', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='gallery', href='#') Digital advertising
						li
							a(data-isotope-filter='Printed Ads', data-isotope-group='gallery', href='#') Printed Ads

		// Isotope Content
		.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='gallery')
			.row.row-no-gutter
				.col-xs-6.col-sm-3.isotope-item(data-filter='Commercials')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-1-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-2-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Commercials')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-3-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Branding')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-4-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-5-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Digital advertising')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}]")
						+jpg('services-6-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Branding')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-7-565x401')
						.thumb-elegant__overlay

				.col-xs-6.col-sm-3.isotope-item(data-filter='Printed Ads')
					a.thumb-elegant(data-lightgallery="dynamic",
					data-lg-dynamic-elements="[" +
					"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
					"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
						+jpg('services-8-565x401')
						.thumb-elegant__overlay


	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Cobbles gallery album

	// Our Projects
	section.section.section-md.bg-white.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			// Section Header
			.section__header.section__header__wide
				h4 Our projects
				.isotope-filters.isotope-filters-horizontal
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters-2', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.isotope-filters-list#isotope-filters-2
						li
							a.active(data-isotope-filter='*', data-isotope-group='projects', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='projects', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='projects', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='projects', href='#') Digital advertising

		.shell-fluid
			.isotope(data-isotope-layout='masonry', data-isotope-group='projects', data-column-class=".isotope-item-etalon")
				.row.row-no-gutter
					.col-xs-6.col-md-4.isotope-item(data-filter='Commercials')
						.thumb-zoe(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-8-565x401.jpg\",\"src\":\"images/services-8-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg("project-1-639x524", 'thumb-zoe__image')
							.thumb-zoe__caption.novi-background
								p.thumb-zoe__title New Office Co.
					.col-xs-6.col-md-2.isotope-item.isotope-item-etalon(data-filter='Commercials')
						.thumb-zoe(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg("project-2-320x262", 'thumb-zoe__image')
							.thumb-zoe__caption.novi-background
								p.thumb-zoe__title 2K Stationery
					.col-xs-6.col-md-2.isotope-item(data-filter='Branding')
						.thumb-zoe(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg("project-4-320x524", 'thumb-zoe__image')
							.thumb-zoe__caption.novi-background
								p.thumb-zoe__title iStep
					.col-xs-6.col-md-4.isotope-item(data-filter='Digital advertising')
						.thumb-zoe(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg("project-3-640x524", 'thumb-zoe__image')
							.thumb-zoe__caption.novi-background
								p.thumb-zoe__title PaperWorks Ltd.
					.col-xs-6.col-md-2.isotope-item(data-filter='Branding')
						.thumb-zoe(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-10-565x401.jpg\",\"src\":\"images/services-10-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg("project-5-320x262", 'thumb-zoe__image')
							.thumb-zoe__caption.novi-background
								p.thumb-zoe__title BTS Corp.
	="\n"

	section.section.section-xs.bg-gray-1.novi-background.bg-cover
		.shell.shell-wide: .range.range-md-center.range-fix: .cell-lg-11
			h3 Grid album gallery

	// Social Responsibility & Eco Standards
	section.section.section-sm.bg-white.novi-background.bg-cover
		.shell
			// Section Header
			.section__header
				h4 Our projects
				.isotope-filters.isotope-filters-horizontal.isotope-filters-left
					button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters-1', data-custom-toggle-disable-on-blur="true") Filter
						span.caret
					ul.isotope-filters-list#isotope-filters-1
						li
							a.active(data-isotope-filter='*', data-isotope-group='grid', href='#') All
						li
							a(data-isotope-filter='Commercials', data-isotope-group='grid', href='#') Commercials
						li
							a(data-isotope-filter='Branding', data-isotope-group='grid', href='#') Branding
						li
							a(data-isotope-filter='Digital advertising', data-isotope-group='grid', href='#') Digital advertising

			// Isotope Content
			.isotope.isotope-1(data-isotope-layout='masonry', data-isotope-group='grid')
				.row
					.col-sm-4.isotope-item(data-filter='Commercials')
						.thumb-elegant(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-1-565x401.jpg\",\"src\":\"images/services-1-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-4-565x401.jpg\",\"src\":\"images/services-4-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-5-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-6-565x401.jpg\"}]")
							+jpg('services-1-565x401')
							.thumb-elegant__overlay
					.col-sm-4.isotope-item(data-filter='Branding')
						.thumb-elegant(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-2-565x401.jpg\",\"src\":\"images/services-2-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-6-565x401.jpg\",\"src\":\"images/services-5-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-7-565x401.jpg\",\"src\":\"images/services-7-565x401.jpg\"}]")
							+jpg('services-2-565x401')
							.thumb-elegant__overlay
					.col-sm-4.isotope-item(data-filter='Digital advertising')
						.thumb-elegant(data-lightgallery="dynamic",
						data-lg-dynamic-elements="[" +
						"{\"thumb\":\"images/services-3-565x401.jpg\",\"src\":\"images/services-3-565x401.jpg\"}," +
						"{\"thumb\":\"images/services-9-565x401.jpg\",\"src\":\"images/services-9-565x401.jpg\"}]")
							+jpg('services-3-565x401')
							.thumb-elegant__overlay
	// Page Footer
	include ../sections/_footer-corporate



