mixin pricing-1(obj)
  // Card creative
  .price-1.novi-background.bg-cover
    .price-1__main
      p.price-1__title=obj.title
      .divider-1
      p.price-1__caption=obj.content
      a.button.button-primary(href=obj.link) request pricing

mixin pricing-2(obj)
  // Card creative
  .price-2
    p.price-2__title.novi-background(class=obj.titleClass)=obj.title
    .price-2__main
      p Starting at
      .price $ #{obj.price}
      .divider-1
      p.price-2__caption=obj.content
      a.button.button-dark-outline(href=obj.link) request pricing

mixin pricing-3(obj)
  // Card creative
  .price-2
    p.price-2__title.novi-background(class=obj.titleClass)=obj.title
    .price-2__main
      p Starting at
      .price $ #{obj.price}
      a.button.button-dark-outline(href=obj.link) request pricing
      .divider-1
      ul.list-marked.list-marked-1
        li Digital Advertising
        li Media Buying
        li Brand Marketing
        li Market Research
        li Laserworx