mixin post-modern(obj)
  article.post-modern.novi-background
    a.post-modern__image-wrap(href=obj.link ? obj.link : postLink)
      +jpg(obj.img, 'post-modern__image')
    
    .post-modern__main
      p.post-modern__title: a(href=postLink)=obj.title
      
      p.post-modern__text=obj.text
      
      ul.post-modern__meta
        li
          span.icon.novi-icon.icon-primary.mdi.mdi-clock
          a(href=obj.link ? obj.link : postLink)=obj.time ? obj.time : 'January 6, 2018'
          
        li
          span.icon.novi-icon.icon-primary.fl-justicons-user140
          span=obj.author ? obj.author : 'John Doe'
          